# Kaggle titanic

Primero se limpiaron los datos con el programa. Con esto cargamos los datos ya limpios

In [61]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

from sklearn import linear_model
from scipy.special import expit

#para la regresion y el analisis de esta
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [62]:
train = pd.read_csv('traincleanData.csv')
test = pd.read_csv('testcleanData.csv')
test

,Unnamed: 0,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,891,3.0,1.0,34.500000,0.0,0.0,376.0,7.8292,186.0,1.0
1,892,3.0,0.0,47.000000,1.0,0.0,582.0,7.0000,186.0,2.0
2,893,2.0,1.0,62.000000,0.0,0.0,184.0,9.6875,186.0,1.0
3,894,3.0,1.0,27.000000,0.0,0.0,366.0,8.6625,186.0,2.0
4,895,3.0,0.0,22.000000,1.0,1.0,338.0,12.2875,186.0,2.0
...,...,...,...,...,...,...,...,...,...,...
413,1304,3.0,1.0,28.366667,0.0,0.0,711.0,8.0500,186.0,2.0
414,1305,1.0,0.0,39.000000,0.0,0.0,834.0,108.9000,64.0,0.0
415,1306,3.0,1.0,38.500000,0.0,0.0,872.0,7.2500,186.0,2.0
416,1307,3.0,1.0,27.350000,0.0,0.0,579.0,8.0500,186.0,2.0
417,1308,3.0,1.0,18.350000,1.0,1.0,262.0,22.3583,186.0,0.0

en este caso la columna a predecir es la siguiente

In [63]:
dbtrain = pd.read_csv('train.csv') 
dbtest = pd.read_csv('test.csv')
testindex = dbtest['PassengerId']
objetivo = np.array(dbtrain['Survived'])
len(testindex)

418

## Aplicamos el modelo logistico para la predicción

In [30]:
#model = LogisticRegression(solver='liblinear', multi_class='ovr')
model = LogisticRegression(solver='newton-cg', multi_class='ovr')
#model = LogisticRegression(solver='saga')#, multi_class='ovr')
#lbfgs stand for: "Limited-memory Broyden–Fletcher–Goldfarb–Shanno Algorithm". It is one of the solvers' algorithms provided by Scikit-Learn Library.

y preparamos los datos para la predicción

In [31]:
model.fit(train, objetivo)
model.score(train, objetivo)

0.7878787878787878

In [32]:
pred1 = model.predict_proba(test)#.reshape(-1,1)
len(pred1)

418

In [33]:
lst=[]
for a in pred1:
    if float(a[1])>=.5:
        a[1]=1
        lst.append(int(a[1]))
    elif float(a[1])< .5:
        a[1]=0
        lst.append(int(a[1]))
len(lst)

418

In [34]:
salida = pd.DataFrame(lst, index= testindex)
salidabien = salida.to_csv('prediccion.csv')

## Aplicamos el metodo de Random Forest Classifier

In [79]:
from sklearn.ensemble import RandomForestClassifier
#from sklearn.ensemble import make_classification
clf = RandomForestClassifier(n_estimators = 5000, max_depth=3, random_state=2)

In [80]:
clf.fit(train, objetivo)
clf.score(train, objetivo)

0.8271604938271605

In [81]:
pred2 = clf.predict_proba(test)

In [82]:
lst=[]
for a in pred2:
    if float(a[1])>=.5:
        a[1]=1
        lst.append(int(a[1]))
    elif float(a[1])< .5:
        a[1]=0
        lst.append(int(a[1]))
len(lst)

418

In [78]:
salida = pd.DataFrame(lst, index= testindex)
salidabien = salida.to_csv('prediccion.csv')

Con este modelo obtuvimos un mejor ranking en la competencia de Kaggle (con 100 árboles), a saber
$$0.77990$$
lo cual nos pone dentro del $48\%$ en la competencia.